
@{
    ViewBag.Title = "KetQuaChonVe";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}
<link href="~/Content/css/datve.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
<link rel="stylesheet" href="https://atugatran.github.io/FontAwesome6Pro/css/all.min.css">

<main>
    <div data-from="'@ViewBag.from'" data-to="'@ViewBag.to'" class="container oneway">
        <h3>Chiều đi: <span>Ngày @ViewBag.date từ @ViewBag.from đến @ViewBag.to</span></h3>
        <div class="train_list oneway">
            @{
                if (ViewBag.dt.Rows.Count <= 0)
                {
                    <h3>Không có chuyến tàu phù hợp</h3>
                }
                else
                {
                    foreach (var train in ViewBag.dt.Rows)
                    {
                        <div class="train__item" data-MaNK="@train["MaNhatKy"]" onclick="loadTrainDetails(this,'@train["MaTau"]')">
                            <div class="train_name">
                                @train["MaTau"]
                            </div>

                            <div class="train_info">
                                <div class="time_start">
                                    <span class="title">TG đi:</span>
                                    <span class="value">@train["ThoiGianDi"].ToString("dd-MM HH:mm") </span>
                                </div>

                                <div class="time_end">
                                    <span class="title">TG đến:</span>
                                    <span class="value">@train["ThoiGianDen"].ToString("dd-MM HH:mm")</span>
                                </div>

                                <div class="remain_seat">
                                    <span class="title">SL chỗ trống:</span>
                                    <span class="value">@train["SLChoTrong"]</span>
                                </div>
                            </div>

                            <div class="train_wheel">
                                <span>s</span>
                                <span>s</span>
                            </div>
                        </div>
                    }
                }

            }
        </div>
        <div  id="trainDetailsContainer--oneway" class="trainDetailsContainer"></div>
        <div  id="toaDetailsContainer--oneway" class="toaDetailsContainer"></div>
    </div>
    @{
        if (ViewBag.KhuHoi)
        {
        <div data-from="@ViewBag.to" data-to="@ViewBag.from" class="container returned">
            <h3>Chiều đi: <span>Ngày @ViewBag.dateReturned từ @ViewBag.to đến @ViewBag.from</span></h3>
            <div class="train_list returned">
                @{
                    if (ViewBag.dtReturned.Rows.Count <= 0)
                    {
                        <h3>Không có chuyến tàu phù hợp</h3>
                    }
                    else
                    {
                        foreach (var train in ViewBag.dtReturned.Rows)
                        {
                            <div class="train__item" data-MaNK ="@train["MaNhatKy"]" onclick="loadTrainDetails(this,'@train["MaTau"]')">
                                <div class="train_name">
                                    @train["MaTau"]
                                </div>

                                <div class="train_info">
                                    <div class="time_start">
                                        <span class="title">TG đi:</span>
                                        <span class="value">@train["ThoiGianDi"].ToString("dd-MM HH:mm") </span>
                                    </div>

                                    <div class="time_end">
                                        <span class="title">TG đến:</span>
                                        <span class="value">@train["ThoiGianDen"].ToString("dd-MM HH:mm")</span>
                                    </div>

                                    <div class="remain_seat">
                                        <span class="title">SL chỗ trống:</span>
                                        <span class="value">@train["SLChoTrong"]</span>
                                    </div>
                                </div>

                                <div class="train_wheel">
                                    <span>s</span>
                                    <span>s</span>
                                </div>
                            </div>
                        }
                    }

                }
            </div>

            <div class="trainDetailsContainer" id="trainDetailsContainer--returned"></div>
            <div class="toaDetailsContainer" id="toaDetailsContainer--returned"></div>
        </div>
        }

    }


</main>
<div class="cart__info">
    <div class="tenkhachhang">
        @ViewBag.TenKH
    </div>

    <div class="cart__info__train">
        <h6>Ngày đi: <span>@ViewBag.date</span></h6>
        <div>
            <h6>Chuyến tàu: <span>@ViewBag.from đến @ViewBag.to</span> </h6>
            <h6 class="info--right">Đã chọn:<span id="SL">0</span> </h6>
        </div>
    </div>
    <div class="cart__info__train returned">
        <h6>Ngày đi: <span>@ViewBag.dateReturned</span></h6>
        <div>
            <h6>Chuyến tàu: <span>@ViewBag.to đến @ViewBag.from</span> </h6>
            <h6 class="info--right">Đã chọn:<span id="SLReturned">0</span> </h6>
        </div>
    </div>
    <div class="cart__payment">
        <h6>
            Khuyến mãi:
            <select id="comboBox">
                @{
                    <option data-value="0" data-max="0" value="null">Không khuyến mãi</option>
                    foreach (QuanLyVeTau.Models.KhuyenMai km in ViewBag.KMs)
                    {
                        <option data-value="@km.PhanTramGiam" data-max="@km.SoTienGiamToiDa" value="@km.MaKhuyenMai">@km.TenKhuyenMai</option>
                    }
                }

            </select>
        </h6>
        <h6>Tổng tiền: <span id="totalAmount">0 VND</span></h6>
        <div onclick="sendDataToController()" class="payment-button">Thanh toán</div>
    </div>
</div>

@*JAVASCRIPT*@

<script>
 // Kiểm tra dữ liệu
    document.addEventListener('DOMContentLoaded', function () {
        localStorage.removeItem('TimVe');
        saveTimVe('@Html.Raw(ViewBag.from)', '@Html.Raw(ViewBag.to)', '@Html.Raw(ViewBag.date)', '@Html.Raw(ViewBag.dateReturned)');

        console.log(localStorage.getItem('TimVe'));
    });

    function sendDataToController() {
        var confirmed = confirm("Bạn có chắc chắn muốn thanh toán?");

        if (!confirmed) return; 

        let cart = JSON.parse(localStorage.getItem('cart'));
        if (!cart || cart.length === 0) {
            alert('Giỏ hàng rỗng');
            return;
        }

        const taoVeUrl = '@Url.Action("TaoVe", "Ve")'; // Đảm bảo URL chính xác
        // Lấy mảng 'cart' từ localStorage
        

        let timVe = JSON.parse(localStorage.getItem('TimVe'));
        if (!timVe || !Array.isArray(timVe) || timVe.length === 0) {
            console.log('Dữ liệu lỗi hoặc không hợp lệ');
            return;
        }

        // Giả sử Total và ApMaKhuyenMai đã được định nghĩa đúng
        let total = Total - ApMaKhuyenMai();

        var data = JSON.stringify({
            timVe:timVe[0],
            dsGhe: cart,
            ThanhTien: total,
            maKM: MaKM,
            maNK: MaNK,
            maNKRereturned: MaNKReturned
        });
        console.log(data);
        // Gửi dữ liệu tới server
        fetch(taoVeUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=UTF - 8'
            },
            body: data
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            else {
                throw new Error('Server Error');
            }
        })
        .then(data => {
            if (data.success) {
                console.log('Dữ liệu đã được gửi và lưu thành công' + data.message);
               
                window.location.href = data.urlHoaDon;

            } else {
                console.log('Lỗi: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Fetch error:', error);
    });
}
</script>
<script src="~/Content/js/DatVe.js"></script>

